* {
    box-sizing: border-box;
    background: #1d1d1d;
}

.container {
    position: absolute;
    width: 70%;
    height: 90%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#input, #output {
    position: relative;
    width: 100%;
    height: 90px;
    background: #2e2e2e;
    border: none;
    font-size: 70px;
    direction: rtl;
    padding: 0 10px 0 10px;
}

#input {
    border-top: 1px solid #468500 ;
}

#output {
    font-size: 50px;
    color: rgba(255, 255, 255, 0.801);
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

#allClear, #equals {
    grid-column: span 2;
    background: #468500;
}

button {
    height: 11vh;
    background: #3f3f3f;
    border: none;
    border-radius: 1px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #3f3f3f83;
    transition: all 0.8s
}

.number {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.operator {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.display {
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    * {
      width: 100% !important;
      -webkit-tap-highlight-color: transparent;
    }

    #input {
        font-size: 50px;
    }

    #output {
        font-size: 40px;
    }

    #input, #output {
        background: none;
    }

    .container {
        padding: 9px;
    }

    button {
        height: 9vh;
        border-radius: 3px;
        border: none;
    }

    button:hover {
        background: #3f3f3f83;
        transition: all 0.8s
    }

    button:focus {
        border: none;
        outline: none;
        background: none;
    }

  }