* {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container {
    height: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

input {
    background: #1d1d1d;
    color: #706d6d;
    border: 0;
    direction: rtl;
    width: 100%;
    font-size: 10vh;
    padding: 2vh 5vh 3vh 0;
}

#output {
    color: #478501;
    font-size: 8vh;
}

.keyboard {  
    height: 67vh;
    border: none;
}

.buttons {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 10px;
   background:  #1d1d1d;
}

.number, .operator {
    background: #000; 
}

button {
    border: 0;
    color: #468500;
    font-size: 4vh;
    border-radius: 3px;
}

#allClear, #equals {
    grid-column: span 2;
    background: #468500;
    color: #000
}



