body{
    background-color: rgba(0, 0, 0, 0.897);
    height: 100vh;
    width: 100%;
}
.container{
    background-color: rgba(71, 86, 88, 0.63);
    box-shadow: 0px 2px 15px 3px rgb(0, 0, 0);
    width: 320px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    top: 70px;
    border-radius: 8px;
}
#input{
    height: 50px;
    border: black 1px solid;
}
#output{
    height: 50px;
    border: black 1px solid;
}
.display{
    height: 130px;
}

.keyboard{
    position: absolute;
    left: 15px;
    bottom: 5px;
}    

.number, .operator{
    width: 50px;
    height: 50px;
    margin: 12px;
    float: left;
    border-radius: 50%;
}
#allClear, #equals{
    width: 125px;
    border-radius: 20px;
}